registry=https://registry.npm.taobao.org
electron_mirror=https://npm.taobao.org/mirrors/electron/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=https://npm.taobao.org/mirrors/phantomjs/
# registry=https://npmmirror.com/mirrors/ 
# sass_binary_site=https://npmmirror.com/mirrors/node-sass/
# electron_mirror=https://npmmirror.com/mirrors/node/
# alinode 镜像: https://npmmirror.com/mirrors/alinode/
# ChromeDriver 镜像: https://npmmirror.com/mirrors/chromedriver/
# OperaDriver 镜像: https://npmmirror.com/mirrors/operadriver/
# Selenium 镜像: https://npmmirror.com/mirrors/selenium/
# electron_mirror=https://npmmirror.com/mirrors/electron/